.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header-actions {
  display: flex;
  gap: 10px;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: darken(var(--color-primary), 10%);
}

.btn-secondary.logout-btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-secondary.logout-btn:hover {
  background-color: #d32f2f;
}

/* Estilos específicos para o Status */
.status {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.875rem;
  color: var(--color-white);
  text-transform: uppercase;
}

.status.agendado {
  background-color: var(--color-primary);
}
.status.concluido {
  background-color: var(--color-success);
}
.status.cancelado {
  background-color: var(--color-secondary);
}
